.container {
  background-color: blue;
  border: solid;
  border-radius: 15px;
  padding: 10px;
  margin: 8px;
  display: flex;
  justify-content: space-around;
  align-items: center
}

button {
  &:hover {
    color: #fff;
  }
}